VITE_RAZORPAY_KEY_ID=rzp_live_SKjbolJvdxju2R

# Firebase Web App Config (indofleet-e3ef8)
VITE_FIREBASE_API_KEY=AIzaSyCP_I6W0j_xoAoYJTuDtFFC9Mepo9DRdlw
VITE_FIREBASE_AUTH_DOMAIN=indofleet-e3ef8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=indofleet-e3ef8
VITE_FIREBASE_STORAGE_BUCKET=indofleet-e3ef8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=526465525994
VITE_FIREBASE_APP_ID=1:526465525994:web:62f6d6bb51564455050f93
VITE_FIREBASE_MEASUREMENT_ID=G-2YB3W191KH
VITE_FIREBASE_VAPID_KEY=
