VITE_RAZORPAY_KEY_ID=rzp_live_SKjbolJvdxju2R

# Firebase Config - ChotU (chotu-4d1e0)
VITE_FIREBASE_API_KEY=AIzaSyBlaKIqDS15uSbSeRLDCSzuc5KFv2EgUdg
VITE_FIREBASE_AUTH_DOMAIN=chotu-4d1e0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=chotu-4d1e0
VITE_FIREBASE_STORAGE_BUCKET=chotu-4d1e0.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=947976549226
VITE_FIREBASE_APP_ID=1:947976549226:android:bf8ee7d1e2371a3984eb13
VITE_FIREBASE_PACKAGE_NAME=com.chotu.chotu_customer_app
VITE_FIREBASE_VAPID_KEY=
